#colors {
    color: #9CF6FB;
    color: #E1FCFD;
    color: #394F8A;
    color: #4A5FC1;
    color: #E5B9A8;
    color: #EAD6CD;
}

html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: conic-gradient(at 50% 180px, #4A5FC1, #9CF6FB);
    height: 100%;
}

.container {
    width: 80%;
    /* height: auto; */
    margin: 0 auto;
    padding: 0 10%;
    flex-grow: 1;
    /* box-sizing: border-box; */
}

.page__header {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    
    font-family: 'Press Start 2P', cursive;
}

.page__title {
    margin: 35px 10px 25px 10px;
    padding: 0;
    position: relative;
    font-size: 30px;
    text-align: center;
    /* color: rgba(225,252,253,0); */
    color: rgba(245, 252, 253, 0);
    display: inline-block;

    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
}

.page__title::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #E1FCFD;

    animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    display: flex;
}

.form {
    padding-top: 10px;
}

.form__fields {
    position: relative;
}

.label {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: normal;
    /* margin: 0; */
    margin: 10px 0 0px 0;
    color: #394F8A;
}

.form__field {
    width: 100%;
    margin: 5px 0 10px 0;
}

.field {
    display: inline-block;
    padding: 7px 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    line-height: 1.4;
    color: black;
    border: 2px solid #394F8A; 
}

.field--input {
    background-color: rgba(245, 252, 253, 1);;
    color: #394F8A;
}

.field--input:hover {
    background-color: #394F8A;
    color: #fff;
    cursor: pointer;
}

.field--select {
    background-color: rgba(245, 252, 253, 1);;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    -webkit-appearance: none;
    -moz-appearance: radio-container;
    appearance: none;
}

.form__criteria {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form__criterion input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.form__criterion {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    /* border-right: 1px solid #394F8A; */
    /* padding-right: 20px;
    margin-right: 20px; */
}

/* .form__criterion:first-child {
    border-left: none;
} */

.form__criterion:last-child {
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
}

.form__subtitle {
    flex-basis: 100%;
    text-align: center;
    margin: 10px 0px;
}

.form__radio-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

svg {
	fill: rgb(242, 242, 242);
	height: 25px;
	width: 25px;
	margin: 5px;
}

#radios label {
	position: relative;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
}

input[class="super-happy"]:hover + svg,
input[class="super-happy"]:checked + svg,
input[class="super-happy"]:focus + svg {
	fill: rgb(0, 109, 217);
}

input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
	fill: rgb(0, 204, 79);
}

input[class="neutral"]:hover + svg,
input[class="neutral"]:checked + svg,
input[class="neutral"]:focus + svg {
	fill: rgb(232, 214, 0);
}

input[class="sad"]:hover + svg,
input[class="sad"]:checked + svg,
input[class="sad"]:focus + svg {
	fill: rgb(229, 132, 0);
}

input[class="super-sad"]:hover + svg,
input[class="super-sad"]:checked + svg,
input[class="super-sad"]:focus + svg {
	fill: rgb(239, 42, 16);
}


@media (min-width: 1024px) {
    .container {
        width: 960px;
        height: auto;
        margin: 0 auto;
        /* box-sizing: border-box; */
        padding: 0;
    }

    .page__title {
        font-size: 50px;
        margin: 100px 10px 25px 10px;
    }

    .form__criteria {
        flex-direction: row;
    }

    .form__criterion {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 25%;
        border-right: 1px solid #394F8A;
        padding-right: 20px;
        margin-right: 20px;
    }
}



@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;

    }

    50% {
        width: 100%;
        left: 0;

    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        color: rgba(245, 252, 253, 0);
    }

    100% {
        color: rgba(245, 252, 253, 1);
    }
}